# Игнорируем всякие системные файлы и папки

# Файлы Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/captures/

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh

# IDE
.idea/
.vscode/

# Другие файлы
.DS_Store
*.log 